*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d1117;
    color: #fff;
    font: 14px/1.5"Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

.right input{
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}